.DefaultSection {
	padding: 80px 0px;
	background: #515f67;
	p {
		width: 90%;
		color: white;
		margin-bottom: 20px;
	}
}

.DefaultSection__title {
	color: white;
	margin-bottom: 30px;
}

.DefaultSection__action {
	margin-top: 30px;
}