.Services {
	padding: 80px 0px;
	background: #4bcaff;
}

.Services__title {
	color: white;
	margin-bottom: 50px;
}

.Services__service--title {
	color: white;
	font-size: 24px;
	margin: 20px 0px;
	font-weight: normal;
	text-transform: uppercase;
}

.Services__service--description {
	color: white;
	font-size: 12px;
	text-align: justify;
}