.Slides {
	.Slide__quotes {
		margin-top: 150px;
	}
	.Slide__quote {
		margin: 5px 0px;
		color: white;
		font-size: 42px;
		font-weight: normal;
		padding: 5px 15px;
		text-align: center;
		text-transform: uppercase;
		background: rgba(57,68,75,.85);
		a {
			color: white;
			text-decoration: underline;

		}
	}
}

.owl-wrapper-outer {
	.item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.Slides__slide {
	height: 800px;
	background: url('/images/slide.jpg') no-repeat;

	display: flex;
	align-items: center;
	justify-content: center;
}