body {
  font-family: Arial;
  font-size: 14px; }

.SectionTitle {
  color: white;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase; }

.button {
  padding: 10px 25px;
  text-transform: uppercase; }
  .button:hover {
    text-decoration: none; }

.button--white {
  color: white;
  border: 1px solid white; }
  .button--white:hover {
    color: #515f67;
    background: white;
    border: none; }

header {
  width: 100%;
  height: 150px;
  display: -ms-flexbox;
  display: flex;
  z-index: 9;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  background: rgba(57, 68, 75, 0.85); }
  header .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
  header .logo {
    color: white;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    text-transform: uppercase; }
    header .logo span {
      color: #4bcaff; }
  header nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    margin: 0; }
    header nav ul li a {
      color: white;
      padding: 10px 15px;
      text-transform: uppercase; }
      header nav ul li a:focus, header nav ul li a:visited {
        color: white;
        text-decoration: none; }
      header nav ul li a:hover {
        color: #4bcaff;
        text-decoration: none;
        outline: 1px solid #4bcaff; }

.Slides .Slide__quotes {
  margin-top: 150px; }

.Slides .Slide__quote {
  margin: 5px 0px;
  color: white;
  font-size: 42px;
  font-weight: normal;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  background: rgba(57, 68, 75, 0.85); }
  .Slides .Slide__quote a {
    color: white;
    text-decoration: underline; }

.owl-wrapper-outer .item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }

.Slides__slide {
  height: 800px;
  background: url("/images/slide.jpg") no-repeat;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Services {
  padding: 80px 0px;
  background: #4bcaff; }

.Services__title {
  color: white;
  margin-bottom: 50px; }

.Services__service--title {
  color: white;
  font-size: 24px;
  margin: 20px 0px;
  font-weight: normal;
  text-transform: uppercase; }

.Services__service--description {
  color: white;
  font-size: 12px;
  text-align: justify; }

.Portfolio {
  padding: 80px 0px;
  background: white; }
  .Portfolio .cd-gallery ul {
    padding-left: 0; }
    .Portfolio .cd-gallery ul li {
      position: relative; }
      .Portfolio .cd-gallery ul li a:hover::before {
        content: "+";
        width: 100%;
        height: 100%;
        color: white;
        font-size: 72px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        background: rgba(53, 63, 71, 0.9); }

.Portfolio__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 90px; }

.Portfolio__title {
  color: #515f67;
  margin-bottom: 30px; }

.Portfolio__filters .cd-filters {
  margin: 0;
  padding-left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .Portfolio__filters .cd-filters a {
    color: #515f67;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 15px;
    text-transform: uppercase; }
    .Portfolio__filters .cd-filters a:hover {
      color: #4bcaff;
      font-size: 14px;
      text-decoration: none;
      outline: 1px solid #4bcaff; }

.DefaultSection {
  padding: 80px 0px;
  background: #515f67; }
  .DefaultSection p {
    width: 90%;
    color: white;
    margin-bottom: 20px; }

.DefaultSection__title {
  color: white;
  margin-bottom: 30px; }

.DefaultSection__action {
  margin-top: 30px; }

footer {
  background: #4bcaff;
  padding: 80px 0px; }
  footer p {
    color: white;
    font-size: 28px; }
    footer p a {
      color: white; }
      footer p a:hover {
        color: #515f67;
        text-decoration: none; }

.Footer__title {
  color: white;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 50px;
  text-transform: uppercase; }

.Video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .Video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.cd-tab-filter-wrapper {
  background: none;
  box-shadow: none; }

#trigger-overlay {
  background: none;
  border: none;
  cursor: pointer; }
  #trigger-overlay .fa {
    color: white; }

/* Small only */
@media screen and (max-width: 39.9375em) {
  header {
    height: 70px; }
  .Slides .Slides__slide {
    height: 500px;
    display: block; }
    .Slides .Slides__slide .item {
      display: block; }
  .Slides .Slide__quote {
    font-size: 30px; }
  .Services__service {
    text-align: center;
    margin-bottom: 40px; }
    .Services__service img {
      margin: 0 auto; }
  .Services__service--description {
    text-align: center; }
  .Portfolio__filters .cd-filters {
    width: 100%;
    -ms-flex-direction: column;
    flex-direction: column; }
  .Portfolio__header {
    -ms-flex-direction: row;
    flex-direction: row; }
  .cd-tab-filter {
    margin-top: -15px; } }

/* Medium and up */
/* Medium only */
/* Large and up */
/* Large only */

/*# sourceMappingURL=app.css.map */
