$skyBlue: #4bcaff;

body {
	font-family: Arial;
	font-size: 14px;
}

.SectionTitle {
	color: white;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

@import 'components/Button';
@import 'components/Header';
@import 'components/Slides';
@import 'components/Services';
@import 'components/Portfolio';
@import 'components/DefaultSection';
@import 'components/Footer';
@import 'components/Video';
@import 'components/Overwrite';
@import 'components/MediaQueries';